[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
v = {editable = true,version = "*"}
pytest = "*"
rope = "*"
pyexecjs = "*"

[packages]
bs4 = "*"
requests = "*"
mangapy = {editable = true,path = "."}
asyncio = "*"
aiohttp = "*"
pillow = "*"
pytest = "*"
tqdm = "*"
uvloop = "*"
pyexecjs = "*"
lxml = "*"
cssselect = "*"
fake-useragent = "*"
scrapy-fake-useragent = "*"

[requires]
python_version = "3.7"
