[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
v = {editable = true,version = "*"}
pytest = "*"
rope = "*"
mangapy = {editable = true,path = "."}

[packages]
bs4 = "*"
requests = "*"
mangapy = {editable = true,path = "."}
pillow = ">=7.1.0"
pytest = "*"
tqdm = "*"

[requires]
python_version = "3.7"
