[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
v = {editable = true,version = "*"}
pytest = "*"

[packages]
bs4 = "*"
requests = "*"
pylint = "*"
mangapy = {editable = true,path = "."}
asyncio = "*"
aiohttp = "*"
flake8 = "*"
pillow = "*"
pytest = "*"
progressbar2 = "*"

[requires]
python_version = "3.7"
